html {
  background-color: whitesmoke;
  margin: 10px;
  width: auto;
  height: auto;
}
body {
  padding: 30px;
  border-radius: 1%;
  border-top: 3px solid pink;
  border-left: 3px solid pink;
  border-right: 3px solid lightblue;
  border-bottom: 3px solid lightblue;
}

.all-names {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}
.girls,
.favorite-names.girls {
  background-color: pink;
  border-radius: 5%;
  display: inline-block;
  color: black;
  padding: 5px;
  margin: 5px;
}

.boys,
.favorite-names.boys {
  background-color: lightblue;
  border-radius: 5%;
  display: inline-block;
  color: black;
  padding: 5px;
  margin: 5px;
}

hr {
  background-color: lightslategray;
  opacity: 0.3;
}

h2 {
  color: lightslategray;
  opacity: 0.7;
  font-size: x-large;
}

input {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 40px;
  border-radius: 2%;
  border: 2px solid lightblue;
}

.inline-buttons {
  display: inline;
}
